:root {
    --background-blue: rgb(23, 32, 42);
}

* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-blue);
    color: rgb(247, 249, 249);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    gap: 20px;
}

header h1 {
    text-align: center;
}

a,
a:active,
time {
    color: rgb(29, 155, 240);
}

.banner {
    position: relative;
}

.banner img {
    width: 500px;
    height: auto;
}

.intro {
    position: absolute;
    right: 20px;
    top: 20px;
}

.intro h1 {
    font-size: 25px;
}

.intro p {
    font-size: 15px;
    color: rgb(200, 200, 200);
}

nav {
    display: flex;
    gap: 30px;
}