:root {
    --background-blue: rgb(23, 32, 42);
}

* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 240, 240);
    color: rgb(15, 20, 25);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    margin-bottom: 100px;
}

header,
main {
    width: 700px;
}

header {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

header h1 {
    text-align: center;
}

a,
a:active,
time {
    color: rgb(29, 155, 240);
}

.banner {
    position: relative;
    display: flex;
    justify-content: center;
}

.banner img {
    width: 500px;
    height: auto;
    border: 2px solid rgb(29, 155, 240);
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    right: 20px;
    top: 15px;
}

.intro h1 {
    font-size: 25px;
}

.intro p {
    font-size: 15px;
    color: rgb(200, 200, 200);
}

.intro h1 {
    color: rgb(240, 240, 240);
}

nav {
    display: flex;
    gap: 20px;
}

main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

article {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

article .head {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

article p {
    font-size: 17px;
    line-height: 25px;
    margin-top: 16px;
}

@media screen and (max-width: 800px) {

    header,
    main {
        width: 90%;

    }

    .banner img {
        width: 500px;
    }

}

@media screen and (max-width: 600px) {
    .banner img {
        width: 90%;
    }

    .banner .intro {
        right: 10%;
    }
}


.color-line {
    width: 100%;
    height: 10px;
    background-color: rgb(29, 155, 240);
}